.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* navigation */
nav{
position: relative;
}
.main-nav {
  height: 100px;
  font-weight: 400;
  font-size: 1.5rem;
}
.navbar-brand {
  font-size: 1.75rem !important;
  font-weight: 700;
}
.navbar-brand>span {
  background-size:  100% 15%;
  background-repeat: repeat-x;
  background-position: left 0% bottom 10%;
 }
 .rainbow {
   background-image: linear-gradient(90deg, hsl(284,91%,69%) 0%, hsl(284,91%,69%) 12.5%,hsl(329,91%,69%) 12.5%, hsl(329,91%,69%) 25%,hsl(14,91%,69%) 25%, hsl(14,91%,69%) 37.5%,hsl(59,91%,69%) 37.5%, hsl(59,91%,69%) 50%,hsl(104,91%,69%) 50%, hsl(104,91%,69%) 62.5%,hsl(149,91%,69%) 62.5%, hsl(149,91%,69%) 75%,hsl(194,91%,69%) 75%, hsl(194,91%,69%) 87.5%,hsl(239,91%,69%) 87.5%, hsl(239,91%,69%) 100%);
}

.nav-link{
  font-size: 1.25rem;
}

/* jumborton */

.jumbotron {

  height: 600px;
  font-weight: 300;
  color: seashell;
  /* background-color: #222b32 !important; */
  background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),url('./images/mainBackgroudn.jpg') ;
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;



}

.jumbotron h1 {
  font-weight: 700 !important;
}

/* Gallery */
.card-artwork {
  
  -webkit-box-shadow: 0px 1px 13px 0px #000000;
  box-shadow: 0px 1px 13px 0px #000000;
}

.card-img-top {
  max-height: 200px;
  min-height: 150px;
  object-fit: cover;
}

.artwork{
 height: 500px;
}

.imageCard{

  transition:  0.5s ease;
}
.imageCard:hover{
 opacity: .7;
}

 .plusIcon{
  display: none;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  position: absolute;
  left:45%;
  top:40%;


}
.imageCard:hover .plusIcon{
 display: block;
 cursor: pointer;


}

.loading-spinner{
  background:  url('/src/images/ajax-loader.gif') center no-repeat;
}

/* modal */
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.artwork-modal{
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 60%;
  max-width: 80vw;
  max-height: 90vh;
 overflow: auto;
}
.artwork-modal.active {
  transform: translate(-50%, -50%) scale(1);

}
.close-button {
  position: absolute;
  top: 0;
  right:0;
  margin-left: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
  font-weight: bold;
}
.modal-header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.modal-title{
  display: flex;
  justify-content: center;
}
.modal-image>img{
  display: block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  border-radius: 8px;
  -webkit-box-shadow: 5px 2px 9px 1px rgba(0,0,0,0.44); 
  box-shadow: 5px 2px 9px 1px rgba(0,0,0,0.44);

  
}
.modal-description{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.map-icon{
  margin-bottom: 2px;
}

/* comment form */
.comment-form{
  display: none;
}
.comment-title >i{
  cursor: pointer;
}

.invalid-field{
  border-color: red !important;
  color: rgb(245, 97, 97);
  background-color: silver;
}
/* about us */

.data{
  display: none;
}
.upcoming{
  display: none;
}
.faq{
  display: none;
}

/* contact us */

.contact-us{
 
  background-image: url('./images/contactUsPage.png');
  background-repeat: no-repeat;
  background-size:cover ; 
 
}

